<ul class="nav nav-pills mb-3" id="pills-tab-2" role="tablist">
    <li class="nav-item">
        <a class="nav-link active ml-3" id="pills-order-history-tab" data-toggle="pill" href="#pills-order-history"
            role="tab" aria-controls="pills-order-history" aria-selected="true">Classes attended</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-deposits-tab" data-toggle="pill" href="#pills-deposit-history" role="tab"
            aria-controls="pills-deposit" aria-selected="false">Personal Trainings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-payment-tab" data-toggle="pill" href="#pills-payment-history" role="tab"
            aria-controls="pills-payment" aria-selected="false">Next Of Kin</a>
    </li>
</ul>