{% extends 'account/base.html' %}

{% block styles %}
<style>
    label {
        font-size: 80% !important;
    }
</style>
{% endblock%}

{% block title %}Reset Password{% endblock %}


{% block content %}
<h4 style="font-size: 18px;" class="text-center">Reset Password</h4>
<p class="text-center">
    <small class="text-muted">A reset link will be sent to your email.</small>
</p>
<form method="post">
    {% csrf_token %}
    {% include 'partials/form.html' %}
    <div class="clearfix py-3">
        <a class="text-club" href="{% url 'account_login' %}" class="float-left pt-1">Back to login</a>
        <button class="btn btn-club text-white float-right font-weight-300" type="submit"
            style="font-size: 14px;">Submit</button>
    </div>
</form>
{% endblock %}