{% extends 'base.html' %}

{% block title %}
{% if 'classes/new/' in request.path %}
    New Gym Class
{% else %}
edit gym class
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm">
            {% if 'classes/new/' in request.path %}
            <h3 class="text-center font-weight-normal py-3 mb-2 mt-1">Add Gym Class</h3>
            {% elif 'classes/edit/' in request.path %}
            <h3 class="text-center font-weight-normal py-3 mb-2 mt-1">Update Gym class</h3>
            {% endif %}
            <div class="col-md-11 mx-auto">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'partials/form.html' %}
                    <div class="py-3 text-center">
                        <button class="btn btn-club text-white">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}